/* --- Painel Inferior (Times em Competição) --- */
.bottom-panel {
  background-color: var(--gray-800);
  padding: 1.5rem;
  border-radius: 8px;
  margin-top: 2rem; /* Espaçamento entre os painéis de cima */
}

.dashboard-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}
