/* --- Painel Inferior (Times em Competição) --- */
.titulo1 {
  margin-bottom: 1rem;
}

.bottom-panel {
  background-color: var(--gray-800);
  padding: 1.5rem;
  border-radius: 8px;
}

.bottom-panel .filter-bar {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.bottom-panel .filter-bar select {
  background-color: var(--gray-700);
  flex-grow: 1;
}

.competing-teams-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.competing-team-item {
  background-color: var(--gray-900);
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid var(--gray-700);
  flex-grow: 1;
  min-width: 200px; /* Garante que os itens não fiquem muito espremidos */
}

.no-competing-teams {
  width: 100%;
  text-align: center;
  color: var(--text-muted);
  padding: 1rem;
}
