/* src/components/Navbar.css */
.navbar {
  top: 0;
  padding: 1rem 2rem;
  z-index: 999;
  width: 100%;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto; /* ajusta largura ao conteúdo */
  margin: 10px;
}

.navbar-logo {
  align-items: center;
  padding: 20px;
}

.navbar-logo img {
  width: auto;
  height: 150px;
  -webkit-user-drag: none; /* bloqueia arrastar no Chrome, Safari, Edge */
  -khtml-user-drag: none; /* compatibilidade antiga */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; /* padrão */
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.nav-item {
  width: auto; /* largura só do botão */
}

.nav-links {
  color: var(--text-over-primary); /* cinza escuro */
  background: var(--gray-100);
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  font-weight: 500;
  min-width: 200px; /* define uma largura mínima */
  text-align: center;
}

.nav-links:hover {
  color: var(--primary);
  box-shadow: 0 2px 7px var(--primary);
  background: var(--gray-100);
}

.nav-links.active {
  color: var(--primary);
  box-shadow: 0 2px 7px var(--primary);
}

/* --- Media Query para Telas Pequenas (Celulares e Tablets na Vertical) --- */

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem; /* Diminui o espaçamento lateral em telas menores */
  }

  .navbar-logo {
    margin-bottom: 1.5rem; /* Aumenta um pouco o espaço para o menu empilhado */
  }

  .nav-menu {
    flex-direction: column; /* A MÁGICA ACONTECE AQUI: empilha os botões */
    gap: 0.75rem; /* Ajusta o espaçamento vertical entre os botões */
    width: 100%; /* Garante que o menu ocupe a largura total */
  }

  .nav-links {
    width: 100%; /* Faz cada botão ocupar a largura total para facilitar o toque */
    padding: 0.8rem 1rem; /* Ajusta o padding para o modo vertical */
  }
}
